<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Prototyp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SFBServletCast</display-name>
    <servlet-name>SFBServletCast</servlet-name>
    <servlet-class>kit.sfb.cognitive.apps.cast.SFBServletCast</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFBServletCast</servlet-name>
    <url-pattern>/SFBServletCast</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SFBServletStripTs</display-name>
    <servlet-name>SFBServletStripTs</servlet-name>
    <servlet-class>kit.sfb.cognitive.apps.stripts.SFBServletStripTs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFBServletStripTs</servlet-name>
    <url-pattern>/SFBServletStripTs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SFBServletMeanFree</display-name>
    <servlet-name>SFBServletMeanFree</servlet-name>
    <servlet-class>kit.sfb.cognitive.apps.meanfree.SFBServletMeanFree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFBServletMeanFree</servlet-name>
    <url-pattern>/SFBServletMeanFree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SFBServletTranslator</display-name>
    <servlet-name>SFBServletTranslator</servlet-name>
    <servlet-class>kit.sfb.cognitive.apps.converter.SFBServletTranslator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFBServletTranslator</servlet-name>
    <url-pattern>/SFBServletTranslator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SFBServletDescriber</display-name>
    <servlet-name>SFBServletDescriber</servlet-name>
    <servlet-class>kit.sfb.cognitive.apps.converter.SFBServletDescriber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFBServletDescriber</servlet-name>
    <url-pattern>/SFBServletDescriber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MockupServlet</display-name>
    <servlet-name>MockupServlet</servlet-name>
    <servlet-class>kit.sfb.cognitive.apps.mockup.MockupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MockupServlet</servlet-name>
    <url-pattern>/MockupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SFBServletXSPARQL</display-name>
    <servlet-name>SFBServletXSPARQL</servlet-name>
    <servlet-class>kit.sfb.cognitive.apps.converter.SFBServletXSPARQL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SFBServletXSPARQL</servlet-name>
    <url-pattern>/SFBServletXSPARQL</url-pattern>
  </servlet-mapping>
</web-app>